
my_dataset
Hint1/map_simulation.txt
Hint1/reduce_simulation.txt
Hint1/sort_simulation.txt
Hint1/__pycache__/my_mapper.cpython-36.pyc
Hint2/First_Round_MapReduce/sort_simulation.txt
Hint2/First_Round_MapReduce/reduce_simulation.txt
Hint2/First_Round_MapReduce/__pycache__/my_mapper.cpython-36.pyc
Hint2/First_Round_MapReduce/map_simulation.txt
Hint2/Second_Round_MapReduce/__pycache__/my_mapper.cpython-36.pyc
Hint2/Second_Round_MapReduce/map_simulation.txt
Hint2/Second_Round_MapReduce/sort_simulation.txt
Hint2/Second_Round_MapReduce/reduce_simulation.txt
